{% extends 'base.html.twig' %}

{% block body %}
<main style="min-height: calc(100vh - 116px - 56px - 246px);">
<br>
    <div id="main">
                <div class="container">
                <br>
                    <h3>Manager Account</h3> <a href="{{path('addaccountadmin')}}"><button type="button" class="btn text-light" style="background-color: rgb(255,105,180);">Insert</button></a>
                </div>
                <div class="page-content">
                <div class="btn-group" role="group" aria-label="Basic outlined example">
               
                </div>
                <div class="container mb-3">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th scope="col" class="text-center">ID</th>
                            <th scope="col" class="text-center">Username</th>
                            <th scope="col" class="text-center">ROLE</th>
                            <th scope="col" class="text-center">CustomerName</th>
                            <th scope="col" class="text-center">Gender</th>
                            <th scope="col" class="text-center">BirthDay</th>
                            <th scope="col" class="text-center">Telephone</th>
                            <th scope="col" class="text-center">Address</th>
                            <th scope="col" class="text-center">Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for c in account %}
                                <tr>
                                    <td class="text-center">{{c.id}}</td>
                                    <td class="text-center">{{c.username}}</td>
                                    <td class="text-center">
                                    {% for row in c.roles %}
                                        {{row}}
                                    {% endfor %}
                                    </td class="text-center">
                                    {# <td>{{(c.role)|json_encode }}</td> #}
                                    <td class="text-center">{{c.Fullname}}</td>
                                    <td class="text-center">{{c.Gender}}</td>
                                    <td class="text-center">{{c.Birthdate|date("m/d/Y")}}</td>
                                    <td class="text-center">{{c.Telephone}}</td>          
                                    <td class="text-center">{{c.Address}}</td>          
                                    <td class="text-center">{{c.Email}}</td>          
                                </tr>     
                                {% endfor %}                        
                        </tbody>
                    </table>
             </div>
            </div>
    </div>
    </main>
{% endblock %}
