{% extends 'base.html.twig' %}

{% block body %}
<main style="min-height: calc(100vh - 116px - 56px - 246px);">
<br>
<div id="main">
    <div class="container">
        <h3>Manager Statistics</h3>
    </div>
    <br>
    <form method="POST" action="/statistics">
    <div class="container" style="display: flex">
        <select class="form-select" required="required" style="width:200px, display: flex" name="sort" id="sort">
            <option value="">Choose how to sort</option>
            {% if sortValue == 1%}
                <option value="1" selected>From high to low</option>
                <option value="2" >From low to high</option>
            {% elseif sortValue == 2 %}
                <option value="1" >From high to low</option>
                <option value="2" selected>From low to high</option>
            {% else %}
                <option value="1">From high to low</option>
                <option value="2">From low to high</option>
            {% endif %}

        </select>
        <p style="color: #fff">ATN_SHOP_ATN_SHOP_ATN_SHOP_ATN_SHOP_ATN_SHOP</p>
        <select class="form-select" required="required" style="width:200px, display: flex" name="typeSort" id="typeSort">
                <option value="">Choose type to sort</option>
            {% if typeSortValue == 1 %}
                <option value="1" selected>Number of Order</option>
                <option value="2" >Number of Product</option>
                <option value="3" >Revenue</option>
                <option value="4" >Interest</option>
            {% elseif typeSortValue == 2 %}
                <option value="1" >Number of Order</option>
                <option value="2" selected>Number of Product</option>
                <option value="3" >Revenue</option>
                <option value="4" >Interest</option>
            {% elseif typeSortValue == 3 %}
                <option value="1" >Number of Order</option>
                <option value="2" >Number of Product</option>
                <option value="3" selected>Revenue</option>
                <option value="4" >Interest</option>
            {% elseif typeSortValue == 4 %}
                <option value="1" >Number of Order</option>
                <option value="2" >Number of Product</option>
                <option value="3" >Revenue</option>
                <option value="4" selected>Interest</option>
            {% else %}
                <option value="1" >Number of Order</option>
                <option value="2" >Number of Product</option>
                <option value="3" >Revenue</option>
                <option value="4" >Interest</option>
            {% endif %}


        </select>
    </div>
    <div class="container" >
        <br>
        <label>Choose time from:</label>
        <input required="required" id="timeFrom" class="form-control" type="date" name="timeFrom" value ={{timeFromFormat}} style="width:200px"/> 
        <br>
        <label>Choose time to:</label>
        <input required="required" id="timeTo" class="form-control" type="date" name="timeTo" value ={{timeToFormat}} style="width:200px"/>
        <br>
        <input class="btn text-light" style="background-color: rgb(255,105,180);" type="submit" value="Submit"/> 
    </div>
    </form>

    <div class="container mb-3">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Address</th>
                    <th scope="col"> Number of Order</th>
                    <th scope="col"> Number of Product</th>
                    <th scope="col">Revenue</th>
                    <th scope="col">Interest</th>
                </tr>
            </thead>
                <tbody>
                            {% for r in result %}
                                <tr>
                                    <td>{{r.address}}</td>
                                    <td>{{r.order}}</td>          
                                    <td>{{r.product}}</td>          
                                    <td>{{r.total}}</td>          
                                    <td>{{r.res}}</td>          
                                </tr>     
                                {% endfor %}                        
                        </tbody>
        </table>
    </div>
</div>
</main>
{% endblock %}
